<div class="container-fluid">
  <nav class="navbar navbar-expand-sm bg-dark navbar-dark row">
    <ul class="navbar-nav">
      <li class="nav-item active">
        <a class="nav-link" routerLink="/newTask"  *ngIf="authService.isLogged()">New Task</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/profile"  *ngIf="authService.isLogged()">Profile</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/login" *ngIf="!authService.isLogged()">Login</a>
      </li>
      <li class="nav-item">
        <a class="nav-link pointer"(click)="logout()" *ngIf="authService.isLogged()">Logout</a>
      </li>
    </ul>
  </nav>
  <div>
    <router-outlet></router-outlet>
  </div>
</div>
