<div class="row padding-top">
  <div class="col-md-4">
  </div>
  <div class="col-md-4">
    <div class="card">
      <div class="card-header ">
        New Task
      </div>
      <div class="card-body">
        <form>
          <div class="form-group">
            <label for="title">Title:</label>
            <input type="text" class="form-control" id="title" placeholder="Enter task title" name="title" [(ngModel)]="task.title">
          </div>
          <div class="form-group">
            <label for="description">Description:</label>
            <textarea type="text" class="form-control" id="description" placeholder="Enter task description" name="description" [(ngModel)]="task.description"></textarea>
          </div>
        </form>
      </div>
      <div class="card-footer">
        <button type="submit" class="btn btn-primary margin-right" (click)="saveTask()">Submit</button>
      </div>
    </div>
  </div>
  <div class="col-md-4">
  </div>
</div>

