<div class="padding-top">
<div class="card">
  <div class="card-header">Tasks List</div>
  <div class="card-body">
    <div>
      <form class="form-inline">
        <input class="form-control mr-sm-8" type="search" placeholder="Search" aria-label="Search" name="searchText" [(ngModel)]="searchText">
      </form>
    </div>
    <table class="table table-borderless">
      <thead>
        <tr>
          <th>Title</th>
          <th>Description</th>
          <th>Created Date</th>
          <th>Action</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let task of tasks | searchPipe:searchText">
          <td>{{task.title}}</td>
          <td>{{task.description}}</td>
          <td>{{task.createdDate | date : 'dd:MM:yyyy hh:mm'}}</td>
          <td>
            <button class="btn btn-info" (click)="editTask(task)">Edit</button>
            <button class="btn btn-danger" (click)="deleteTask(task)">Delete</button>
            <button class="btn btn-primary" (click)="detailTask(task.id)">Details</button>
          </td>
        </tr>
      </tbody>
    </table>
    <div class="container">
      <ul class="nav nav-pills">
        <li class="margin-right" [ngClass] = "{'active' : i === currentPage}" *ngFor="let p of pages ; let i = index">
          <a class="cursor" (click)="gotoPage(i)">{{i}}</a>
        </li>
      </ul>
    </div>
  </div>
</div>
</div>
