<div class="row padding-top">
  <div class="col-md-4">
  </div>
  <div class="col-md-4">
    <div class="alert alert-danger" *ngIf="!authService.isLogged">Bad Credentials</div>
   <div class="card">
     <div class="card-header ">
       Authentication
     </div>
     <div class="card-body">
       <form>
         <div class="form-group">
           <label for="username">Usrname:</label>
           <input type="text" class="form-control" id="username" placeholder="Enter username" name="username" [(ngModel)]="credentials.username">
         </div>
         <div class="form-group">
           <label for="pwd">Password:</label>
           <input type="password" class="form-control" id="pwd" placeholder="Enter password" name="pswd" [(ngModel)]="credentials.password">
         </div>
       </form>
     </div>
     <div class="card-footer">
       <button type="submit" class="btn btn-primary margin-right" (click)="login()">Submit</button>
       <button class="btn btn-info" (click)="onRegister()">Register</button>
     </div>
   </div>
  </div>
  <div class="col-md-4">
  </div>
</div>

