<div class="row padding-top">
  <div class="col-md-4">
  </div>
  <div class="col-md-4">
    <div class="alert alert-danger" *ngIf="errorMessage && mode==0">{{errorMessage}}</div>
    <div class="card">
      <div class="card-header ">
        Register
      </div>
      <div class="card-body">
        <form>
          <div class="form-group">
            <label for="email">Email:</label>
            <input type="email" class="form-control" id="email" placeholder="Enter email" name="email" [(ngModel)]="registerData.email">
          </div>
          <div class="form-group">
            <label for="username">Username:</label>
            <input type="text" class="form-control" id="username" placeholder="Enter username" name="pswd" [(ngModel)]="registerData.username">
          </div>
          <div class="form-group">
            <label for="pwd">Password:</label>
            <input type="password" class="form-control" id="pwd" placeholder="Enter password" name="pswd" [(ngModel)]="registerData.password">
          </div>
          <div class="form-group">
            <label for="rpwd">Repassword:</label>
            <input type="password" class="form-control" id="rpwd" placeholder="Enter repassword" name="pswd" [(ngModel)]="registerData.repassword">
          </div>
        </form>
      </div>
      <div class="card-footer">
        <button type="submit" class="btn btn-primary margin-right" (click)="register()">Register</button>
      </div>
    </div>
  </div>
  <div class="col-md-4">
  </div>
</div>

